body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #ffffff;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;            /* Full viewport height */
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;         /* Limit the width of the main content */
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #423f3f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;       /* Center text */
}

.about {
    width: 100%;
    margin-bottom: 40px;
}   

.about-container {
    background-color: #5a5555; /* Slightly lighter */
    color: #eaeaea; /* Lighter text for better contrast */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}


.about-image {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
    padding: 20px;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    color: #ec840d;
    margin-bottom: 15px;
}

p {
    margin: 15px 0;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.team {
    width: 100%;
    text-align: center;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background-color: #423f3f;
    border-radius: 10px;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}

.team-image {
    width: 100%;
    border-radius: 10%;
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
/* Media query for mobile devices */
@media (max-width: 600px) {
    .about-container, .team-container {
        padding: 10px;
    }

    .team-member {
        max-width: 100%; /* Make team member cards full-width */
        margin-bottom: 20px; /* Add spacing between cards */
    }

    .about-image, .team-image {
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
    }
}
